:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

md-sidenav-layout {
  height: 100%;
}

md-sidenav {
  min-width: 300px;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1 100%;
}

.bottom-nav .nav-item {
  flex: 1;
  text-align: center;
}
